<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-stats">
          <div class="card-header py-0">
            <div class="row">
              <div class="col">
                <button class="btn btn-sm btn-outline-primary mt-3 px-2" (click)="newClient()">
                  Nuevo cliente
                </button>
              </div>
              <div class="col-1 col-md-4 col-lg-6"></div>
              <div class="col align-middle text-right">
                <mat-form-field class="float-right example-full-width mt-2 input-search">
                  <input
                    class="text-right"
                    matInput
                    placeholder="Buscar"
                    type="text"
                    name="clienteFilter"
                    (keyup)="filtrarProducto($event.target.value)"
                  />
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="card-body ">
            <div class="table-responsive">
              <table class="table">
                <thead class="text-primary text-left">
                  <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Celular</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody class="text-center">
                  <tr *ngIf="loading" class="text-center text-white">
                    <td colspan="5" class="pt-5">
                      <app-loading-table></app-loading-table>
                    </td>
                  </tr>

                  <tr class="text-left" *ngFor="let cliente of listaClientes">
                    <td>{{ cliente.id }}</td>
                    <td>{{ cliente.nombre }}</td>
                    <td>{{ cliente.email }}</td>
                    <td>{{ cliente.celular }}</td>
                    <td>
                      <div class="btn-group" role="group" aria-label="Basic example">
                        <a><i class="material-icons text-secondary">visibility</i></a>
                        <a><i class="material-icons text-primary px-2">edit</i></a>
                        <a><i class="material-icons text-danger">close</i></a>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
