<div class="main-content">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-11 mx-sm-3 mx-md-1 col-lg-12">
        <div class="card card-stats">
          <div class="card-header py-0">
            <div class="row">
              <div class="col">
                <button class="btn btn-sm btn-outline-primary mt-3 px-2" (click)="newReserva()">
                  Nuevo reserva
                </button>
              </div>
              <div class="col-1 col-md-4 col-lg-6"></div>
              <div class="col align-middle text-right">
                <mat-form-field class="float-right example-full-width mt-2 input-search">
                  <input
                    class="text-right"
                    matInput
                    placeholder="Buscar"
                    type="text"
                    name="reservaFilter"
                    (keyup)="filtrarreserva($event.target.value)"
                  />
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="card-body ">
            <div class="table-responsive">
              <table class="table">
                <thead class="text-primary text-left">
                  <tr>
                    <th>#</th>
                    <th>Cliente</th>
                    <th>Fecha Inicio</th>
                    <th>Fecha Termino</th>
                    <th>Total</th>
                    <th>Observación</th>
                    <th>Fecha reservado</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody class="text-center">
                  <tr *ngIf="loading" class="text-center text-white">
                    <td colspan="100%" class="pt-5">
                      <app-loading-table></app-loading-table>
                    </td>
                  </tr>

                  <tr class="text-left" *ngFor="let reserva of listaReservas">
                    <td>{{ reserva.id }}</td>
                    <td>{{ reserva.cliente.rut }}</td>
                    <td>
                      {{ reserva.fechaHoraInicio | date: 'dd/MM/yyyy' }}<br />
                      {{ reserva.fechaHoraInicio | date: 'HH:mm:ss' }}
                    </td>
                    <td>
                      {{ reserva.fechaHoraTermino | date: 'dd/MM/yyyy' }}<br />
                      {{ reserva.fechaHoraTermino | date: 'HH:mm:ss' }}
                    </td>
                    <td>{{ reserva.total | currency: 'CLP' }}</td>
                    <td>{{ reserva.observacion }}</td>
                    <td>
                      {{ reserva.createdAt | date: 'dd/MM/yyyy' }}<br />
                      {{ reserva.createdAt | date: 'HH:mm:ss' }}
                    </td>
                    <td>
                      <div class="btn-group" role="group" aria-label="Basic example">
                        <a
                          (click)="cambiarEstadoreserva(reserva)"
                          *ngIf="reserva.activo"
                          routerLink="."
                        >
                          <i class="material-icons text-danger">close</i>
                        </a>
                        <a
                          (click)="cambiarEstadoreserva(reserva)"
                          *ngIf="!reserva.activo"
                          routerLink="."
                        >
                          <i class="material-icons text-success">done</i>
                        </a>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <!-- <pagination-controls
                directionLinks="true"
                autoHide="true"
                responsive="true"
                previousLabel="Anterior"
                nextLabel="Siguiente"
                (pageChange)="page = $event"
              >
              </pagination-controls> -->
              <ngb-pagination
                *ngIf="listaReservas.length < totalElements"
                [(page)]="page"
                [pageSize]="pageSize"
                (pageChange)="cargarData()"
                [collectionSize]="totalElements"
                [maxSize]="5"
                [rotate]="true"
                [boundaryLinks]="true"
              >
              </ngb-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
